* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  letter-spacing: 0.03rem;
}

a {
  color: #000;
}

/* 导航栏图标 */
.icon {
  width: 2.2rem;
}

.top {
  width: 100%;
  height: 2.4rem;
  background-color: #000;
}

/* 导航栏 */
.header_box {
  height: 8rem;
  /* width: 100%; */
  background-color: #f5f6fb;
  font-size: 1.4rem;
  color: #000;
  padding: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_2 {
  width: 100%;
  height: 8rem;
  /* padding: 0 2.8rem; */
  display: flex;
  padding-left: 6.2rem;
  padding-right: 2rem;
  /* padding: 0 6rem; */

  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.header_nav {
  display: flex;

  /* padding-left: 6.4rem; */
  /* margin-left: 0; */

  justify-content: space-between;
}

.header_nav_right {
  /* height: 8rem; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header_nav li {
  font-weight: bold;
  height: 8rem;
  text-align: center;
  line-height: 8rem;
  padding-right: 2rem;
  cursor: pointer;

  /* letter-spacing: 0.3rem; */
}

/* .header_nav_right li {
  padding: 4rem 2rem;
} */

.header_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 30%; */
}

.header_3 li {
  /* width: 8rem; */
  height: 8rem;
  line-height: 8rem;
  margin: 0 2rem;
  cursor: pointer;
  /* padding: 2rem; */
  /* padding-left: 2rem; */
  /* display: flex; */
}

.header_3 li:first-child,
.header_3 li:last-child {
  margin: 0;
}
.header_right {
  height: 8rem;
  padding: 0 2rem;
  /* padding-right: 6rem; */
  display: flex;
  /* line-height: 8rem; */
  justify-content: space-between;
  align-items: center;
}

.header_right span {
  width: 4rem;
  /* text-align: center; */
}

.header_shousuo {
  height: 3.2rem;
  width: 10rem;
  text-align: center;
  line-height: 190%;
  color: #000;
  border: 2px solid #adb5bd;
  border-radius: 2rem;
}

.header_shousuo span {
  font-size: 1.2rem;
}

/* 鼠标动画 */
.header_shousuo:hover {
  border: 2px solid #000;
  cursor: pointer;
}

.header_animation li a:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 3rem;
}

/* subnav */
.subnav_market {
  height: 10.4rem;
  width: 100%;
  padding: 0 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 4rem;
  padding-top: 1.4rem;
  text-decoration: 0.3rem;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: fixed; */
  background: rgba(255, 255, 255, 0.9);
  /* 模糊 */
  backdrop-filter: blur(10px);
}

.app_xz {
  height: 3.2rem;
  width: 12rem;
  background-color: #c92a2a;
  /* text-align: center; */
  /* line-height: 3.2rem; */
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.app_xz a {
  font-size: 1.3rem;
  color: #fff;
}

.app_xz span {
  color: #fff;
}

.app_xz_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
}

.app_xz_box span {
  margin-left: 0.8rem;
  font-size: 1.6rem;
}

.app_xz_box .icon {
  color: #fff;
  padding-top: 0.5rem;
  /* width: 2rem; */
}

.app_xz:hover {
  background-color: #9e2121;
}

/* container */
.container_top {
  /* height: 60rem; */
  width: 100%;
  height: auto;
  background-color: #f5f6fb;
}

.container_box {
  max-width: 66.6vw;
  margin: 0 auto;
  padding: 5.6rem 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_left {
  /* line-height: 3rem; */
  /* margin: 0 auto; */
  margin: 0;
}

.container_left,
.container_right {
  width: 45%;
}

.container_logo {
  margin: 11.6rem 0 0;
}

.container_img {
  width: 100%;
  /* margin: 9rem 0 0; */
}

.container_h1 {
  color: #34363a;
  font-size: 5.12rem;
  margin: 3.8rem 0 1.6rem;
}

.container_txt {
  color: #8b919f;
  font-size: 1.44rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  /* padding-bottom: 1.6rem; */
}

.container_txt p {
  line-height: 1.6;
  padding-bottom: 1.6rem;
}

.container_button {
  height: 4.8rem;
  width: 13rem;
  border-radius: 3rem;
  background-color: #000;
  text-align: center;
  /* line-height: 4.8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_button a {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
}

/* ///////////////2///////////////// */
.container_index {
  padding-top: 10.4rem;
  height: 84rem;
  width: 100%;
  /* background-color: blue; */
  text-align: center;
  position: relative;
}

.container_index .container_safe {
  width: 100%;
  /* height: 84rem; */
  background-image: url("images/safe.jpg");
  background-size: cover;
}

.container_index h2 {
  display: inline-block;
  position: absolute;
  /* text-align: center; */
  width: 100%;
  /* padding-left: 100rem; */
  font-size: 4.8rem;
  font-weight: normal;
  /* margin: 4rem; */
  padding-bottom: 2rem;
  /* z-index: 1; */
}

.container_index img {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  margin-top: -10rem;
}

.container_index_box {
  /* display: inline-block; */
  /* width: 74rem; */
  color: #4f4f4f;
  width: 100%;
  position: absolute;
  margin-top: -25rem;
  padding: 0 15.84rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
  /* padding: 0 2rem; */
}

.container_index_box li {
  /* width: 100%; */
  font-weight: normal;
  padding: 0 auto;
  overflow: hidden;
  padding-left: 4.8rem;
}

.container_index_box li:nth-child(1) {
  background-image: url("images/safe_icon01.png");
  background-size: 3.3rem;
}
.container_index_box li:nth-child(2) {
  background-image: url("images/safe_icon02.png");
  background-size: 3.3rem;
}
.container_index_box li:nth-child(3) {
  background-image: url("images/safe_icon03.png");
  background-size: 3.3rem;
}
.container_index_box li:nth-child(4) {
  background-image: url("images/safe_icon04.png");
  background-size: 3.3rem;
}

.container_index_box h3 {
  font-size: 2.88rem;
  /* display: block; */
  margin: 0 0 3.2rem;
  padding-top: 0.8rem;
  font-weight: normal;
}

.container_index_box p {
  margin-left: 0;
  font-size: 1.44rem;
}

/* ///////////////3///////////////// */
